rem($px){
  $px/1upx
}
// picker
.uni-picker .uni-picker-item{
  font-size:rem(26)
}

// 加载框
.uni-toast{
	display flex
	align-items center
	flex-direction column
	justify-content center
	width rem(200)!important
	height rem(200)!important
	top:50%!important
	min-height rem(200)!important
	margin-top:rem(-100)!important
	.uni-icon_toast.uni-loading{
		margin:0!important
		width rem(60)!important
		height rem(60)!important
	}
	.uni-toast__content{
		margin: rem(27) 0 0 0!important
		font-size:rem(28)!important
	}
}
